
#text{
    margin: 20px  auto;
}

.senatorDiv{
    display:inline-block;
    min-height:30%;
    width:30%;
    font-size: smaller;
    background-color: green;
    margin: 2px;
    padding:3px;
}

li{
    padding:5px;
}